header {
  background-color: gray;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

.bigpic{
  display: flex;
  justify-content: center;
}


.smallpics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin: 1rem;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  margin: 1rem;
}

footer {
  background-color: gray;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}

